.name{
    color:hotpink;
    font-size: 30px;

}
.box{
    width:300px;
    height:300px;
}
.first{
    width:100px;
    height:100px;
    background-color: aqua;
}
.second{
    width:100px;
    height:100px;
    background-color:aquamarine;
}

